transformers==4.46.0
sentencepiece==0.2.0
datasets==3.0.2
sacrebleu==2.4.3
rouge_score==0.1.2
py7zr==0.22.0
pandas==2.2.3
nltk==3.9.1
tqdm==4.66.5
PyYAML==6.0.2
matplotlib==3.9.2
torch==2.5.0
notebook==7.2.2
boto3==1.35.49
mypy-boto3-s3==1.35.46
python-box==6.0.2
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
accelerate==1.0.1
-e .


## For GPU
# pip3 install torch --index-url https://download.pytorch.org/whl/cu124